- content_for(:main) do 
  = "I am"
  %input.ageinput.inline.form-control{name: 'age',  type: 'text', placeholder: '', value: @page_data[:current_info][:age]}
  years old, and I

  %span.explain_text
    need healthcare for
    .help_text
      This is where the help would go typically.
  (check all that apply):
  .nextline
    .forms-checkbox
      Myself
      = check_box_tag 'shop_for[]', 'myself', (@page_data[:current_info][:shop_for] && @page_data[:current_info][:shop_for].include?('myself'))
    .forms-checkbox
      My Children
      = check_box_tag 'shop_for[]', 'my children', (@page_data[:current_info][:shop_for] && @page_data[:current_info][:shop_for].include?('my children'))
    .forms-checkbox
      Other Adults  
      = check_box_tag 'shop_for[]', 'other adults', (@page_data[:current_info][:shop_for] && @page_data[:current_info][:shop_for].include?('other adults'))
    .inputboxes
      .boxset
        .helpbox
          Number of children
        %div
          %input.form-control{name: 'number_of_children', type: 'text', placeholder: '', style: 'line-height: 120%;'}
      .boxset
        .helpbox
          Number of other adults
        %div
          %input.form-control{name: 'number_of_adults', type: 'text', placeholder: '', style: 'line-height: 120%;'}
      
  //  = render 'dropdown', {dropdown_id: 'shop_for', dropdown_title: '-select-', options_list: ['my family', 'myself']}
  //  %input{id: 'shop_for', name: 'shop_for', type: 'hidden'}
  // This won't get rendered any more because there's no way to unhide it.

  %p
  .family-info
    In our family, we have 
    = render 'dropdown', {dropdown_id: 'number_of_children_choices', dropdown_title: '0', options_list: ['0', '1', '2' , '3 or more']}
    children.
    %input{id: 'family_other_adult', name: 'number_of_children', value: '0', type: 'hidden'}
    %p
  %button.btn.btn-default.submit
    Go  
