.complex-form-box{class: "#{@page_data[:current_page]==1?'homepage-override':''}", style: 'width: 100%;'}
  .icon-row
    .icon-box
      - if @page_data[:icon_array][0][0]!=''
        = link_to image_tag(@page_data[:icon_array][0][0], class: 'img-responsive'), '/page?page_id=1'
    .icon-box
      - if @page_data[:icon_array][1][0]!=''
        = link_to image_tag(@page_data[:icon_array][1][0], class: 'img-responsive'), '/page?page_id=2'
    .icon-box
      - if @page_data[:icon_array][2][0]!=''
        = link_to image_tag(@page_data[:icon_array][2][0], class: 'img-responsive'), '/page?page_id=3'
    .icon-box
      - if @page_data[:icon_array][3][0]!=''
        = link_to image_tag(@page_data[:icon_array][3][0], class: 'img-responsive'), '/page?page_id=4'

  .question-follow{style: 'font-size: 32px; line-height: 1.2;'}
    .question-text
      = @page_data[:question_main]

  = form_tag('/page', id: 'pageform') do
    .form-content
      %input#page_id{name: 'page_id', type: 'hidden', value: @page_data[:next_page]}  
      = content_for :main
  = content_for :suffix_form_content
.supportbar
  = link_to image_tag('supportbar.jpg', class: 'img-responsive'), '#'
    
