.complex-form-box
  .icon-row
    .icon-box
      - if @page_data[:icon_array][0]!=''
        = image_tag @page_data[:icon_array][0], class: 'img-responsive'
    .icon-box
      - if @page_data[:icon_array][1]!=''
        = image_tag @page_data[:icon_array][1], class: 'img-responsive'
    .icon-box
      - if @page_data[:icon_array][2]!=''
        = image_tag @page_data[:icon_array][2], class: 'img-responsive'
    .icon-box
      - if @page_data[:icon_array][3]!=''
        = image_tag @page_data[:icon_array][3], class: 'img-responsive'

  .question-follow
    .icon-box{style: 'display: inline-block; margin-right: 20px;'}
      = image_tag @page_data[:icon_array][4], class: 'img-responsive'
    .question-text
      = @page_data[:question_main]

  = form_tag('/page', id: 'pageform') do
    .form-content
      %input#page_id{name: 'page_id', type: 'hidden', value: @page_data[:next_page]}  
      = content_for :main
  = content_for :suffix_form_content
