.complex-form-box{class: "#{@page_data[:current_page]==1?'homepage-override':''}", style: 'max-width: 622px;'}
  .row.icon-row
    .col-xs-3
      .icon-box{class: @page_data[:icon_array][0][1]=='complete' ? 'icon-complete' : ''} 
        - if @page_data[:icon_array][0][0]!=''
          = link_to image_tag(@page_data[:icon_array][0][0], class: 'img-responsive'), '/page/1'
    .col-xs-3
      .icon-box{class: @page_data[:icon_array][1][1]=='complete' ? 'icon-complete' : ''}
        - if @page_data[:icon_array][1][0]!=''
          = link_to image_tag(@page_data[:icon_array][1][0], class: 'img-responsive'), '/page/2'
    .col-xs-3
      .icon-box{class: @page_data[:icon_array][2][1]=='complete' ? 'icon-complete' : ''}
        - if @page_data[:icon_array][2][0]!=''
          = link_to image_tag(@page_data[:icon_array][2][0], class: 'img-responsive'), '/page/3'
    .col-xs-3
      .icon-box{class: @page_data[:icon_array][3][1]=='complete' ? 'icon-complete' : ''}
        - if @page_data[:icon_array][3][0]!=''
          = link_to image_tag(@page_data[:icon_array][3][0], class: 'img-responsive'), '/page/4'

  .question-follow{style: 'font-size: 32px; line-height: 1.2;'}
    .question-text
      = @page_data[:question_main]

  = form_tag("/page/#{@page_data[:next_page]}", id: 'pageform') do
    .form-content
      = content_for :main
  = content_for :suffix_form_content
.supportbar
  = link_to image_tag('supportbar.jpg', class: 'img-responsive'), '/page/6?mesg=supportbar'
    
