.results-list
  // The Header
  .row.indiv-result-row.headerrow
    - page_data[:results_header].each do |hdr|
      .rescol{class: "col-xs-#{hdr[:col_size]}"}
        %span.bold-text 
          = add_help_tags(hdr[:val])

  // The results

  - plans.each_with_index do |res, idx|
    .row.indiv-result-row{class: "#{cycle('unshaded', 'shaded', name: 'shading_class')}"}
      .col-xs-3.rescol
        .ribbon{class: "#{idx==0 ? 'best' : idx==1 ? 'good' : 'none'}"}
          = "#{idx==0 ? 'Best' : idx==1 ? 'Good' : 'No'} Plan"
          .ribbon-stitches-top
            %span
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        .plan-name{'data-plan-id'=> res['plan_id']}
          = res[:plan_name]

      .col-xs-4.innercol.rescol
        .bold-text
          = add_help_tags(page_data[:labels][:monthly_premium]) + ": #{res[:monthly_premium]}"

        .result-deets
          = "#{page_data[:labels][:subsidy]}: #{res[:subsidy]}"

        .bold-text.large.orange-color
          = "#{page_data[:labels][:final_monthly_premium]}: #{res[:final_monthly_premium]}"

      .col-xs-4.rescol
        .bold-text
          = "#{page_data[:labels][:ann_premium]}: #{res[:ann_premium]}"

        .result-deets
          = "#{page_data[:labels][:annual_subsidy]}: #{res[:annual_subsidy]}"

        .bold-text.large.pink-color
          = "#{page_data[:labels][:true_annual_cost]}: #{res[:true_annual_cost]}"

      .col-xs-1.rescol
        - unless current_user and current_user.has_plan?(res.slice('state', 'county', 'plan_id'))
          .action-box
            Save For Later
