.complex-form-box{class: "#{@page_data[:current_page]==1?'homepage-override':''}"}
  .question-follow
  = form_tag("/page/#{@page_data[:next_page]}", id: 'pageform') do
    .form-content
      = content_for :main
  = content_for :suffix_form_content
