.results-top-bg
  // Need this here to allow interaction of checkboxes with clicks
  #current_info{type: 'hidden', 'data-value' => session[:current_info].to_json}  

  .row.results-row
    .col-xs-1
    .col-xs-10.info-box.info-box-top
      .row
        .col-xs-12.resultrowheader
          Your Healthcare Profile
      .row{style: 'margin-top: 20px;'}
        .col-xs-3
          .icon-box.icon-complete.inlined
            = image_tag 'disabled/zip.png', class: 'img-responsive inlined'
            .editbutton
              Edit
          .profiletext.inlined.topalign
            %span.filterbar_title
              Zip Code:
            %span.filterbar_text
              = session[:current_info]['zip']
            %br
            %span.filterbar_text
              = "#{session[:current_info]['county']} County"
        .col-xs-3
          .icon-box.icon-complete.inlined
            = image_tag 'disabled/household.png', class: 'img-responsive inlined'
            .editbutton
              Edit
          .profiletext.inlined.topalign
            %span.filterbar_title
              Age:
            %span.filterbar_text
              = session[:current_info]['age']
            %br
            %span.filterbar_title
              Children:
            %span.filterbar_text
              = session[:current_info]['child_number']
            %br
            %span.filterbar_title
              Other Adults:
            %span.filterbar_text
              = session[:current_info]['family_number']

        .col-xs-3
          .icon-box.icon-complete.inlined
            = image_tag 'disabled/income.png', class: 'img-responsive inlined'
            .editbutton
              Edit
          .profiletext.inlined.topalign
            %span.filterbar_title
              Income:
            %span.filterbar_text
              = session[:current_info]['income']
                
        .col-xs-3
          .icon-box.icon-complete.inlined
            = image_tag 'disabled/procedures.png', class: 'img-responsive inlined'
            .editbutton
              Edit
          .profiletext.inlined.topalign
            %span.filterbar_title
              Prescriptions:
            %span.filterbar_text
              = session[:current_info]['drugnames'].select { |x| x!='' }.size
            %br
            %span.filterbar_title
              Procedures:
            %span.filterbar_text
              = session[:current_info]['procedure_names'].split(',').size
            %br
    .col-xs-1

.row.results-bottom-bg
  = render partial:'results_list', locals: {plans: @plans, page_data: @page_data, in_profile_list: false}

