.row.hero
  .col-xs-2
    
  .col-xs-8.question-text
    .current-info
      %span.pink-color
        = show_current_info @page_data[:current_info]
      
    .question-header
      = @page_data[:current_info][:question_header]
      - if @page_data[:prev_page]
        %span.back-button-box
          &laquo;
          = link_to "Back", "#{@page_data[:prev_link]}", method: :post
    %span
      
    - if @page_data[:current_page]==6
      = render partial: 'no_plans'  
    - else
      = render partial: "complex_form_#{@page_data[:current_page]}", layout: 'form_layout'

    .steps-text
      = "#{@page_data[:number_of_steps_in_words]} Easy Steps"
      - (0..@page_data[:step_index]-1).each do |i|
        %span.step-circle.step-done
          = image_tag 'check-mark-hi.png', class: 'step-check img-responsive'
      %span.step-circle.step-now
        &nbsp;
      - (@page_data[:step_index]+1..@page_data[:total_steps]-1).each do |i|
        %span.step-circle.step-notdone
          &nbsp;

  .col-xs-2

    
.row.testimonial
  .col-xs-1
  .col-xs-1.drop-arrow
    .glyphicon.glyphicon-chevron-left

  .col-xs-8.testimonial-text.large
    = @page_data[:testimonial]
    
  .col-xs-1.drop-arrow
    .glyphicon.glyphicon-chevron-right
      
  .col-xs-1
      
.row.testimonial-author.large
  .col-xs-4
  .col-xs-4
    = @page_data[:random_person_rec][@page_data[:random_person_index]][:name]
  .col-xs-4

.row.testimonial-picture-row
  .col-xs-4.testimonial-picture
  .col-xs-4.testimonial-picture.picture-middle
    = image_tag @page_data[:random_person_rec][@page_data[:random_person_index]][:img], class: 'testimonial-image-holder img-responsive'
  .col-xs-4.testimonial-picture
      
.row.healthcare-providers

