.row.hero
  .col-xs-4
    
  .col-xs-7.top-container
    .current-info
      %span.pink-color
        = show_current_info session[:current_info]
    .row
      .col-xs-1
      .col-xs-8
        .question-header
          = @page_data[:question_header]
      .col-xs-3
    .row
      .col-xs-1
      .col-xs-8
        .question-subheader
          = @page_data[:question_subheader]
      .col-xs-3
    .row
      .col-xs-1
      .col-xs-8
        - if @page_data[:prev_page]
          %span.back-button-box
            &laquo;
            = link_to "Back", "#{@page_data[:prev_link]}", method: :post

        - if @page_data[:current_page]==6
          = render partial: 'no_plans'  
        - elsif @page_data[:current_page]==1
          = render partial: "complex_form_#{@page_data[:current_page]}", layout: 'simple_form_layout'
        - else        
          = render partial: "complex_form_#{@page_data[:current_page]}", layout: 'form_layout'
      .col-xs-3

  .col-xs-1
