.row.hero
  .col-xs-2
    
  .col-xs-8.question-text
    .current-info
      = show_current_info @page_data[:current_info]
      
    .question-header
      = @page_data[:question_header]
    
    - if @page_data[:current_page]==1
      = render 'simple_form'
    - else
      = render "complex_form_#{@page_data[:current_page]}"

    .steps-text
      Four Easy Steps
      - (0..@page_data[:step_index]-1).each do |i|
        %span.step-circle.step-done
          = image_tag 'check-mark-hi.png', class: 'step-check img-responsive'
      %span.step-circle.step-now
        &nbsp;
      - (@page_data[:step_index]+1..@page_data[:total_steps]-1).each do |i|
        %span.step-circle.step-notdone
          &nbsp;

  .col-xs-2

    
.row.testimonial
  .col-xs-1
  .col-xs-1.drop-arrow
    .glyphicon.glyphicon-chevron-left

  .col-xs-8.testimonial-text
    = @page_data[:testimonial]
    
  .col-xs-1.drop-arrow
    .glyphicon.glyphicon-chevron-right
      
  .col-xs-1
      
  
.row.healthcare-providers

.row.footer
