%nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"} 
        = image_tag 'logo.png'

    .collapse.navbar-collapse{id: "bs-example-navbar-collapse-1"}
      %ul.nav.navbar-nav.navbar-right
        // Let's put the first four entries outside the dropdown
        - @navbar_entries[0..2].each do |entry|
          %li
            = link_to entry[:title], entry[:url]
        - if current_user
          %li
            = link_to "SIGN OUT (#{current_user.email[0..8]}...)", destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to 'SIGN IN | REGISTER', new_user_session_path
